* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
}

body {
  background: rgb(230, 236, 240);
  margin: 0;
}

.navbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 13%;
  padding-right: 13%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.navbar-item {
  width: 12rem;
  height: 5rem;
  position: relative;
  display: inline-block;
}

.navbar-item a {
  align-items: center;
  color: rgb(102, 117, 127);
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  transition: 0.15s color ease-in-out;
}

.navbar-item i {
  font-size: 2.1rem;
  line-height: 2.3rem;
  margin-right: 0.6rem;
}

.navbar-item.active a,
.navbar-item:hover a {
  color: #1b95e0;
}

.navbar-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 0px solid #1b95e0;
  transition: border-top-width 0.15s ease-in-out;
}

.navbar-item.active::after,
.navbar-item:hover::after {
  border-top-width: 2px;
}

.navbar-item.login {
  float: right;
}

.content {
  margin-top: 1rem;
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.public-feed {
  background-color: #fff;
}

.sidebar {
  margin-left: 2rem;
}

.sidebar-card {
  background-color: #fff;
}

.sidebar-card + .sidebar-card {
  margin-top: 1rem;
}

.public-feed h1 {
  margin: 0;
  font-size: 1.9rem;
  padding: 1.5rem 1rem;
}

.sidebar h1 {
  margin: 0;
  font-size: 1.9rem;
  padding: 1.2rem 1rem;
}

.post {
  background-color: #fff;
  border-top: 1px solid rgb(230, 236, 240);
  padding: 1rem;
  transition: background-color 0.15s ease-in-out;
}

.user-page .post {
  padding: 2rem;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-header .post-uploader,
.post-header .post-date {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
}

.post-header .post-uploader {
  font-weight: 700;
}

.post-header .post-date {
  font-weight: 400;
  color: rgb(101, 119, 134);
}

.post-header .dot {
  font-size: 1.5rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.post-content {
  font-size: 1.5rem;
}

.post-content img {
  display: block;
  max-width: 100%;
}

.post-tags {
  color: rgb(101, 119, 134);
  font-size: 1.5rem;
}

.post-tag {
  display: inline-block;
}

.post:hover {
  background-color: rgb(245, 248, 250);
  cursor: pointer;
}

.application,
.person {
  background-color: #fff;
  border-top: 1px solid rgb(230, 236, 240);
  padding: 1rem;
  transition: background-color 0.15s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.application:hover,
.person:hover {
  background-color: rgba(170, 184, 194, 0.1);
}

.application img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.application-info {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.application-action {
  background-color: #fff;
  border-radius: 1000rem;
  border: 1px solid rgb(29, 161, 242);
  color: rgb(29, 161, 242);
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.2rem 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.application-action:hover {
  background-color: rgba(29, 161, 242, 0.2);
}

body.logged-in .create-post-btn {
  display: block;
}

.create-post-btn {
  background-color: rgb(29, 161, 242);
  border: none;
  border-radius: 1000rem;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px,
    rgba(101, 119, 134, 0.25) 0px 1px 3px 1px;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 0.8rem 1.6rem;
  transition: background-color 0.15s ease-in-out;
}

.create-post-btn a {
  text-decoration: none;
  color: inherit;
}

.create-post-btn i {
  margin-right: 0.6rem;
}

.create-post-btn.fixed {
  position: fixed;
  bottom: 2.5rem;
  right: calc(13% + 2rem);
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  z-index: 100;
}

.create-post-btn:hover {
  background-color: rgb(23, 129, 194);
}

.create-post-btn:focus {
  outline: none;
}

.public-feed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.person-name {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0;
}

.person-email {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  color: rgb(101, 119, 134);
}

.message-count {
  display: flex;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.message-count h2:first-child {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(20, 23, 26);
  margin: 0;
  margin-right: 0.3rem;
}

.message-count h2:last-child {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  color: rgb(101, 119, 134);
  font-weight: normal;
}
